questions.txt

/target/
!.mvn/wrapper/maven-wrapper.jar

/taco-cloud-core/target/
/taco-cloud-infra/target/
/taco-cloud-web-app/target/
/taco-cloud-rest-app/target/
/taco-cloud-kitchen-app/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
